@import "tailwindcss";

@theme {
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-card: var(--card);

  --animate-fade-in: fade-in 0.7s ease-out forwards; 
  --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
  --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes blink {
    0%, 49% { opacity: 1; }
    50%, 100% { opacity: 0; }
  }
}

@layer base {
  :root {
    --background: #ffffe4;
    --foreground: #383838;

    --hover-bg: #aeaeae;
    --card: #ffffff;

    --primary: #5c5c5c;
    --primary-foreground: #eeeeee;

    --secondary: #e8e8cf;
    --secondary-foreground: #383838;

    --accent: #006d77;
    --accent-foreground: #ffffff;

    --top-bar-bg: #fafae7;

    --border: #909090;
  }

  .dark {
    --background: #383838;
    --foreground: #ffffff;

    --hover-bg: #4a4a4a;
    --card: #5c5c5c;

    --primary: #aeaeae;
    --primary-foreground: #383838;

    --card-primary: #e0e0e0;
    --card-secondary: #c8c8c8;

    --secondary: #4a4a4a;
    --secondary-foreground: #ffffff;

    --accent: #4fd1c5;
    --accent-foreground: #383838;

    --hover-text: #ffffff;
    --active-text: #ffffffd0;

    --top-bar-bg: #00000057;

    --border: #909090;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    overflow-y: hidden;
    font-family: 'BodyFont', sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'TitleFont', sans-serif;
  }
}

:root {
  --side-panel-width: clamp(250px, 12.5vw, 320px);
  --nav-height: 4rem;
}

@layer utilities {
  .side-panel-w {
    width: var(--side-panel-width);
    min-width: var(--side-panel-width);
  }
}


@utility container {
  --container-x: 1rem;
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-x);

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    width: 80%;
    --container-x: 0rem;
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
  @media (width >= 1600px) {
    max-width: 1600px;
  }
  @media (width >= 1920px) {
    max-width: 1920px;
  }
  @media (width >= 2048px) {
    max-width: 2048px;
  }
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(174, 174, 174, 0.5);
}

@utility card-hover {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}

@utility gradient-border {
  @apply relative rounded-md;
  background: linear-gradient(to right, hsl(var(--card)), hsl(var(--card)));
  background-clip: padding-box;
  border: 1px solid transparent;
}

@utility button {
  @apply px-6 py-2 rounded-full bg-primary text-primary-foreground font-medium
         transition-all duration-300 hover:shadow-[0_4px_15px_rgba(174,174,174,0.3)]
         hover:scale-105 active:scale-95;
}

@utility title-font {
  font-family: 'DataFont', sans-serif;
}

@utility nav-item {
  @apply text-foreground/80 transition-all duration-300;
  
  &:hover {
    @apply translate-x-1;
    color: var(--hover-text);
    background-color: var(--hover-bg);
    border-radius: 10px;
    padding: 0.25rem 0.5rem;
    cursor: pointer
  }
}

@utility nav-button {
  @apply text-foreground/80 transition-all duration-300 flex items-center gap-2 px-4 py-2 rounded-md;
  
  &:hover {
    @apply -translate-y-1;
    color: var(--hover-text);
    background-color: var(--hover-bg);
    border-radius: 10px;
    cursor: pointer;
  }
}

@utility nav-item-active {
  @apply font-semibold transform transition duration-300;
  color: var(--active-text);
  background-color: var(--hover-bg);
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
}


@utility mobile-menu {
  @apply fixed inset-0 bg-background/95 backdrop-blur-md z-40 flex flex-col items-center justify-center transition-all duration-300;
}


@utility projects-grid {
  @apply border-2 border-border p-6 bg-card/40 hover:scale-105 hover:shadow-lg hover:border-(--card-primary) transition-all duration-300 flex flex-col h-full
}


@utility tech-badge{
  @apply px-3 py-1 bg-accent/10 text-accent border border-accent rounded-full font-bold hover:bg-accent/20 hover:-translate-y-0.5 transition-colors select-none;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

@font-face {
  font-family: 'DataFont';
  src: url('./assets/fonts/GoogleSansCode-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitleFont';
  src: url('./assets/fonts/Sora-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BodyFont';
  src: url('./assets/fonts/Sora-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.animate-blink {
  animation: blink 1s infinite;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--border) var(--background);
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--border);
  border-radius: 14px;
  border: 2px solid var(--secondary); 
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

.custom-scroll::-webkit-scrollbar-corner {
  background: var(--secondary);
}